<div class="user-details">
  <h1>About</h1>
  <p><img class="img-responsive" src="/assets/img/mig2.jpg" alt="" /></p>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Contact</h2>
    <p>My email: <a href="mailto: contact@.se">contact@.se</a></p>
  </div>
  <div class="tech">
    <h2>Principles 1</h2>
    <p>Our priority is improving the business.</p>
  </div>
  <div class="tech">
    <h2>Principles 2</h2>
    <p>We accelerate the team, and use models like Lean Thinking and the Theory of Constraints to help identify, prioritize and mitigate bottlenecks from the system.</p>
  </div>
  <div class="tech">
    <h2>Principles 3</h2>
    <p>We are a force for continuous improvement, helping the team adapt and optimize in order to succeed, rather than providing a safety net to catch failures.</p>
  </div>
  <div class="tech">
    <h2>Principles 4</h2>
    <p>We care deeply about the quality culture of our team, and we coach, lead, and nurture the team towards a more mature quality culture.</p>
  </div>
  <div class="tech">
    <h2>Principles 5</h2>
    <p>We believe that the customer is the only one capable to judge and evaluate the quality of our product.</p>
  </div>
  <div class="tech">
    <h2>Principles 6</h2>
    <p>We use data extensively to deeply understand customer usage and then close the gaps between product hypotheses and business impact.</p>
  </div>
  <div class="tech">
    <h2>Principles 7</h2>
    <p>We expand abilities and knowhow across the team; understanding that this may reduce (or eliminate) the need for dedicated specialists.</p>
  </div>
</div>