<div class="user-details">
  <h1>About</h1>
  <p><img class="img-responsive" src="/assets/img/SEB20250527_Reshef_Oren_8917.jpg" alt="" /></p>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Contact</h2>
    <p>My email: <a href="mailto: orenreshef@duck.go">orenreshef@duck.go</a></p>
  </div>
  <div class="tech">
    <h2>My 2025 SAST Presentation</h2>
    <p>Download here: <a href="/assets/downloads/SAST-2025-Oren.pdf">My 2025 SAST Presentation</a></p>
  </div>
  <div class="tech" style="width: 100%; flex-basis: 100%;">
    <h2>Chapter 1</h2>
    <p>What is compliance.</p>
  </div>
  <div class="tech">
    <h2>Chapter 2</h2>
    <p>Evidence for compliance</p>
  </div>
  <div class="tech">
    <h2>Chapter 3</h2>
    <p>Why Scaling compliance is hard</p>
  </div>
  <div class="tech">
    <h2>Chapter 4</h2>
    <p>Gap analysis</p>
  </div>
  <div class="tech">
    <h2>Chapter 5</h2>
    <p>Continuous compliance</p>
  </div>
  <div class="tech">
    <h2>Chapter 6</h2>
    <p>Compliance infrastructure</p>
  </div>
  <div class="tech">
    <h2>Chapter 7</h2>
    <p>Closing words</p>
  </div>
</div>
